@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300;400;700;900&display=swap');

body{
    font-family: 'Lato', sans-serif, 'Fjalla One', sans-serif;
    background-color: #E3E2DF;
    height: 100vh;
}

#navbar{
    background: #5D001E !important;
}

.home-container, .workspaces-container, .add-workspace-container{
    margin-top: 70px;
}

.jumbotron{
    margin-top: 200px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.btn{
    background: #9A1750;
    border-radius: 0;
    border-color: #9A1750;
}

.btn:hover {
    color: #fff;
    background-color: #5D001E;
    border-color: #5D001E;
}

.form-control{
    border-radius: 0;
}

.card, .card-img, .card-img-top{
    border-radius: 0;
}

.card{
    margin-bottom: 10px;
}

.title-color{
    color: #9A1750;
    font-family: 'Fjalla One', sans-serif;
}

li i{
    font-size: xx-large;
    margin-bottom: 10px;
    color: #9A1750;
}

.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}

.workspace_comments{
    display: none;
}

.comments_icon:hover{
    cursor: pointer;
}

footer{
    margin-top: 40px;
    height: 40px;
    /* background: red; */
}