{% extends 'base.html' %}

{% block content %}
    
    <div class="container add-workspace-container">
        <div class="row">
            <form class="col" method="POST" action="{{url_for('insert_workspaces')}}">

                <div class="form-group">
                    <label class="sr-only" for="username"></label>
                    <input type="text" class="form-control sr-only" id="username" value="{{session_username}}"
                        name="username">
                </div>

                <div class="form-group">
                <label for="sel1">Select your workspace area:</label>
                <select class="form-control" id="workspace_room" name="workspace_room" required>
                    <option disabled selected value="">Choose...</option>
                    {% for room in rooms %}
                    <option value="{{room.workspace_room}}">{{room.workspace_room}}</option>
                    {% endfor %}
                </select>
                </div>

                <div class="form-group">
                <label for="sel1">How would you rate your workspace?</label>
                <select class="form-control" id="workspace_rating" name="workspace_rating" required>
                    <option disabled selected value="">Choose...</option>
                    {% for rating in ratings %}
                    <option value="{{rating.workspace_rating}}">{{rating.workspace_rating}}</option>
                    {% endfor %}
                </select>
                </div>

                <div class="form-group">
                <label for="sel1">Would you prefer remote working or office?</label>
                <select class="form-control" id="workspace_preference" name="workspace_preference" required>
                    <option disabled selected value="">Choose...</option>
                    {% for preference in preferences %}
                    <option value="{{preference.workspace_preference}}">{{preference.workspace_preference}}</option>
                    {% endfor %}
                </select>
                </div>

                <div class="form-group">
                <label for="sel1">How happy or stressed are you working away from office?</label>
                <select class="form-control" id="happiness_index" name="happiness_index" required>
                    <option disabled selected value="">Choose...</option>
                    {% for index in indexes %}
                    <option value="{{index.happiness_index}}">{{index.happiness_index}}</option>
                    {% endfor %}
                </select>
                </div>

                <div class="form-group">
                    <label for="image">Enter the image url</label>
                    <input type="text" class="form-control" id="image" name="image" required></input>
                    <small class="form-text text-muted">You can upload you workspace <a href="https://postimages.org/" target="_blank">here</a> and copy the <b> 'Direct Link'</b> which can be pasted here. <br>If you are not comfortable in uploading your workspace, you can copy an image url from the web which looks similar. 
                    </small>
                </div>

                <div class="form-group">
                    <label for="comments">Comment:</label>
                    <textarea class="form-control" rows="5" id="comments" name="comments"></textarea>
                </div>
                
                <div class="row">
                    <div class="col-md-2 offset-md-5">
                        <button type="submit" name="submit" class="btn btn-danger mt-3 text-center">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}