{% extends 'base.html' %}

{% block content %}

    <div class="container charts-container">
        <div class="row">
            <div class="col-md-5">
                <iframe class="col-lg-12 col-md-12 col-sm-12" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fzhfn/embed/charts?id=9bd82526-5ffc-4447-a05d-1296ed0f7119&theme=light"></iframe>
            </div>
            <div class="col-md-7">
                <iframe class="col-lg-12 col-md-12 col-sm-12" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fzhfn/embed/charts?id=3109c5dd-e104-4e6f-87a7-d60988998d4c&theme=light"></iframe>
            </div>
        </div>
    </div>

    

{% endblock %}