{% extends 'base.html' %}

{% block content %}

    <div class="container add-workspace-container">
        <div class="row">
            <form class="col" method="POST" action="{{url_for('update_workspaces', workspace_id=workspace._id)}}">

                <div class="form-group">
                    <label class="sr-only" for="username"></label>
                    <input type="text" class="form-control sr-only" id="username" value="{{session_username}}"
                        name="username">
                </div>

                <div class="form-group">
                <label for="workspace_room">Select your workspace area:</label>
                <select class="form-control" id="workspace_room" name="workspace_room" required>
                    <option disabled selected value="">Choose...</option>
                    {% for room in rooms %}
                        {% if room.workspace_room == workspace.workspace_room %}
                        <option value="{{room.workspace_room}}" selected>{{room.workspace_room}}</option>
                        {% else %}
                        <option value="{{room.workspace_room}}" >{{room.workspace_room}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>

                <div class="form-group">
                <label for="workspace_rating">How would you rate your workspace?</label>
                <select class="form-control" id="workspace_rating" name="workspace_rating" required>
                    <option disabled selected value="">Choose...</option>
                    {% for rating in ratings %}
                        {% if rating.workspace_rating == workspace.workspace_rating %}
                        <option value="{{rating.workspace_rating}}" selected>{{rating.workspace_rating}}</option>
                        {% else %}
                        <option value="{{rating.workspace_rating}}">{{rating.workspace_rating}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>

                <div class="form-group">
                <label for="workspace_preference">Would you prefer remote working or office?</label>
                <select class="form-control" id="workspace_preference" name="workspace_preference" required>
                    <option disabled selected value="">Choose...</option>
                    {% for preference in preferences %}
                        {% if preference.workspace_preference == workspace.workspace_preference %}
                        <option value="{{preference.workspace_preference}}" selected>{{preference.workspace_preference}}</option>
                        {% else %}
                        <option value="{{preference.workspace_preference}}" >{{preference.workspace_preference}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>

                <div class="form-group">
                <label for="happiness_index">How happy or stressed are you with this workspace?</label>
                <select class="form-control" id="happiness_index" name="happiness_index" required>
                    <option disabled selected value="">Choose...</option>
                    {% for index in indexes %}
                        {% if index.happiness_index == workspace.happiness_index %}
                        <option value="{{index.happiness_index}}" selected>{{index.happiness_index}}</option>
                        {% else %}
                        <option value="{{index.happiness_index}}" >{{index.happiness_index}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>

                <div class="form-group">
                    <label for="image">Enter the image url</label>
                    <input type="text" class="form-control" id="image" name="image" value="{{workspace.image}}" required>
                    <small class="form-text text-muted">You can upload you workspace <a href="https://postimages.org/" target="_blank">here</a> and copy the <b> 'Direct Link'</b> which can be pasted here. <br>If you are not comfortable in uploading your workspace, you can copy an image url from the web which looks similar. Make sure you copy the image adress and not link adress. 
                    </small>
                </div>

                <div class="form-group">
                    <label for="comments">Comments:</label>
                    <textarea class="form-control" rows="5" id="comments" name="comments" maxlength="300" placeholder="Enter up to 50 words or less">{{workspace.comments}}</textarea>
                </div>
                
                <div class="row">
                    <div class="col-md-2 offset-md-5">
                        <button type="submit" name="submit" class="btn btn-danger mt-3 text-center">Submit</button>
                    </div>
                </div>
                

            </form>
        </div>
    </div>

{% endblock %}