{% extends 'base.html' %}

{% block content %}
    <div class="main-home-section">
        <div class="container home-container">
            <div class="row">
                <div class="col-md-12 text-center ">
                    <h3 class="mb-4 workspace-heading">Showcase your current or preferred remote workspace</h3>
                    <p>The massive disruption caused by Covid-19 caused many of us to adopt new workspace options since we were forced to work-from-home. Soon this will pass, and things will go back to normal. Well, at least there would be a new normal. Remote workers and workspaces could become part of the new normal, so you should start thinking about your ideal workspace. </p>
                    <p> The ideal workspace differs from one person to the next and can range from a cozy little work-from-bed set up to a full-blown home office built as a tribute to your old office space. The end goal with any workspace should be to improve your productivity while keeping you happy. <span class="about-highlight">This app's idea is to showcase your 'away-from-office' workspace and get inspired by other workspaces submitted by people from around the world.</span> You can rate your happiness index for your current workspace and share what makes it special for you.
                    </p>

                    <p>You can view the different workspace submissions by clicking on the 'Show workspaces' button below. <br> To add your workspace here, register or login using the Login button below. 
                    </p>
                    <a name="edit" class="btn btn-danger m-1 text-center" href="{{url_for('get_workspaces')}}" >Show workspaces</a>
                    {% if session['username'] %}
                    <a name="edit" class="btn btn-danger m-1 text-center" href="{{url_for('logout')}}" >Logout</a>
                    {% else %}
                    <a name="edit" class="btn btn-danger m-1 text-center" href="{{url_for('login')}}" >Login</a>
                    {% endif %}
                </div>
            </div>
        </div>  
    </div>


{% endblock %}