{% extends 'base.html' %}

{% block content %}
    <div class="main-home-section">
        <div class="container home-container">
            <div class="row">
                <div class="col-md-12 text-center ">
                    <h3 class="text-center mb-4 workspace-heading" >Show and compare your 'away from office' workspace with others</h3>
                    <p>The huge disruption in our work caused by Covid-19 has made a lot of us look for alternative workspace options forcing many of us to work from home. This has made a huge impact the traditional mindset of working in an office space which could move to remote working for some extent even after the pandemic. Your workspace setup could be wildly different from another person. It could be an office room in you home with work desk to bedroom or kitchen to even outdoors. 
                    </p>
                    <p>The idea of the of this app is to showcase your ‘away from office’ workspaces and compare that to what other people have or would like to have. Individuals can rate their own workspace setups which helps in understanding how people are coping with the situation and their mental health. 
                    </p>
                    <p>You can view the different workspace submission by clicking on Library. You can add your own workspaces by registering or logging in if you already a user. 
                    </p>
                    <a name="edit" class="btn btn-danger m-1 text-center" href="{{url_for('get_workspaces')}}" >Show workspaces</a>
                    <a name="edit" class="btn btn-danger m-1 text-center" href="{{url_for('login')}}" >Login</a>
                </div>
            </div>
        </div>  
    </div>
   

{% endblock %}