{% extends 'base.html' %}

{% block content %}

    <div class="container single-workspace-container">
        <div class="row">
            <div class="col">
                <div class="card single-card">
                    <img class="card-img single-card-img"  src="{{workspace.image}}" alt="">
                    <div class="card-img-overlay single-card-img-overlay">
                    <button class="pull-right clickable close-icon float-right btn btn-dark" data-effect="fadeOut" onclick="goBack()"><i class="fa fa-times"></i></button>
                        <div class="single-card-content">
                            <ul class="list-group list-group-flush card-body">
                                <li class="list-group-item">Workspace: <span class="title-color">{{workspace.workspace_room}}</span> </li>
                                <li class="list-group-item">Rating: <span class="title-color">{{workspace.workspace_rating}}</span></li>
                                <li class="list-group-item">Preference: <span class="title-color">{{workspace.workspace_preference}}</span> </li>
                                <li class="list-group-item">Happiness: <span class="title-color">{{workspace.happiness_index}}</span></li>
                                <li class="list-group-item comments"><i class="fa fa-comments comments_icon" aria-hidden="true"></i><br><span class="workspace_comments"></span>{{workspace.comments}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}