{% extends 'base.html' %}

{% block content %}

    <div class="container profile-intro">
        <div class="row"></div>
            <div class="col">
                <h3 class="text-center mb-4 workspace-heading" >Welcome to your workspaces page</h3>
                <p class="text-center">You can see all the workspaces you have added. If you have more workspaces to add or if you have any in your mind that you think you would like to have as your workspace, you can add them here. You can edit them as needed or delete if you dont want to showcase them anymore. </p>
            </div>
    </div>
    <hr>
    <div class="container sort-container">
        <div class="row justify-content-end">
            <div class="col-auto">
                <form action="">
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by Worskpace Rating
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{url_for('sort_ascending', page='profile') }}" >Ascending</a>
                            <a class="dropdown-item" href="{{url_for('sort_descending', page='profile')}}">Descending</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container workspaces-container">
        <div class="row">
            {% for workspace in workspaces %}
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top img-fluid" src="{{workspace.image}}" alt="">
                    <ul class="list-group list-group-flush card-body">
                        <li class="list-group-item">Workspace: <span class="title-color">{{workspace.workspace_room}}</span> </li>
                        <li class="list-group-item">Workspace Rating: <span class="title-color">{{workspace.workspace_rating}}</span></li>
                        <li class="list-group-item">Workspace Preference: <span class="title-color">{{workspace.workspace_preference}}</span> </li>
                        <li class="list-group-item">Happiness Index: <span class="title-color">{{workspace.happiness_index}}</li>
                        <li class="list-group-item"><a href="{{url_for('one_workspace', workspace_id=workspace._id)}}"><i class="fa fa-comments comments_icon" aria-hidden="true"></i><br><span class="workspace_comments"></span> </a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 edit-del-btns">
                        <a name="edit" class="btn btn-danger mb-5 text-center edit-btn" href="{{url_for('edit_workspaces', workspace_id=workspace._id)}}" >Edit</a>
                        <button name="delete" class="btn btn-dark mb-5 ml-3 text-center delete-btn"data-toggle="modal" data-target="#myModal"> Delete</button>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p>Are you sure you want to delete the workspace?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark mb-5 ml-3 text-center edit-btn" data-dismiss="modal">Cancel</button>
                        <a name="delete" class="btn btn-dark mb-5 ml-3 text-center delete-btn" href="{{url_for('delete_workspaces', workspace_id=workspace._id)}}" >Delete</a>
                    </div>
                </div>
                
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    
    
{% endblock %}