{% extends 'base.html' %}

{% block content %}

    
    <div class="container workspaces-container">
        <div class="row">
            {% for workspace in workspaces %}
            <div class="form-group">
                <label class="sr-only" for="username"></label>
                <input type="text" class="form-control sr-only" id="username" value="{{session_username}}"
                    name="username">
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top img-fluid" src="{{workspace.image}}" alt="">
                    <ul class="list-group list-group-flush card-body">
                        <li class="list-group-item">Workspace: <span class="title-color">{{workspace.workspace_room}}</span> </li>
                        <li class="list-group-item">Workspace Rating: <span class="title-color">{{workspace.workspace_rating}}</span></li>
                        <li class="list-group-item">Workspace Preference: <span class="title-color">{{workspace.workspace_preference}}</span> </li>
                        <li class="list-group-item">Happiness Index: <span class="title-color">{{workspace.happiness_index}}</li>
                        <li class="list-group-item"><i class="fa fa-comments comments_icon" aria-hidden="true"></i><br><span class="workspace_comments">{{workspace.comments}}</span> </li>
                    </ul>
                </div>
                <!-- <div class="row">
                    <div class="col-md-2 edit-del-btns">
                        <a name="edit" class="btn btn-danger mb-5 text-center edit-btn" href="{{url_for('edit_workspaces', workspace_id=workspace._id)}}" >Edit</a>
                        <a name="edit" class="btn btn-dark mb-5 ml-3 text-center delete-btn" href="{{url_for('delete_workspaces', workspace_id=workspace._id)}}" >Delete</a>
                    </div>
                </div> -->
            </div>
            {% endfor %}
        </div>
    </div>

   <!-- pagination -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <!-- If current position of the page is higher than 0, show 'previous' button -->
                        {%if current_position >0 %}
                        <li class="page-item">
                        <a class="page-link" href="{{url_for('get_workspaces', current_page=current_page - 1, current_position=current_position - page_limit)}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                        </li>
                        {% endif %}
                        <!-- Show current page in number of pages -->
                        <li class="page-item disabled"><a class="page-link" href="#">Page {{ current_page}} of {{max_pages}}</a></li>
                        <!-- Show 'next' as long as the maximum page is less than the current page, wont show otherwise  -->
                        {% if current_page < max_pages  %}
                        <li class="page-item">
                        <a class="page-link" href="{{url_for('get_workspaces', current_page=current_page + 1, current_position=current_position + page_limit)}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    

{% endblock %}